<div class="mt-5 ms-4" >
  <div class="styleBigTitle" >
    Bonjour
  </div>
  <div class="styleParagraphTitle mt-3 justify-content-around " style="width: 400px" >
    <p >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua
      eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>


  <div class="row justify" style="width: 450px">
    <div class="col">
      <a href="#" class="myButton">green</a>
    </div>
    <div class="col">
      <a href="#" class="myButton bg-primary">green</a>
    </div>

  </div>

</div>
<app-courriers></app-courriers>
