<div class="styleTitle text-center mt-5" >Liste des utilisateurs</div>


<div class="element " style="overflow-x: scroll;">
  <div class="mat-elevation-z8 "  style="width :70%;margin: 0 auto; min-width: 900px">
    <div class="row mt-4 pt-2 pb-0 ms-4  ">
      <div class="col-3  " data-bs-toggle="modal" data-bs-target="#exampleModal" style="width:20%">
        <button class=" mt-2 btn btn-outline-secondary  btn-sm ms-4" style="width: 150px" >Ajouter</button>
      </div>


      <div class="col pt-2" style="margin-left:3%">
        <input class="form-control me-2 searchIn" #input (keyup)="applyFilter($event)" style="width: 190px" type="search" placeholder="Chercher un utilisateur" aria-label="Search">
      </div>
    </div>

    <div class="pb-3"></div>

    <table mat-table class="pb-5" [dataSource]="dataSource"  style="width :100%;">

      <!-- dateReception -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> first Name</th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <!-- reference -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <!-- reference -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- BTN -->
      <ng-container  matColumnDef="Action">
        <th mat-header-cell class="Header-mat " *matHeaderCellDef mat-sort-header> <div class="ms-4">Manage courrier</div> </th>
        <td mat-cell *matCellDef="let row">

          <button class="btn btn-outline-info btn-sm" >Modifier</button>
          <button class="btn btn-outline-danger btn-sm ms-4" >Supprimer</button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="mb-5" [pageSizeOptions]="[5, 7, 10]"
                   showFirstLastButtons
                   aria-label="Select page of  elements">
    </mat-paginator>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-save-user ></app-save-user>
      </div>
    </div>
  </div>
</div>
