<div class="mb-3">
  <form [formGroup]="ExpedForm" >


    <label class="form-check-label text-uppercase mt-1" >Type d'expediteur </label>
    <select   class="form-control form-select pb-1" (change)="TypeExpediteur($event)" id="expediteur">
      <option  value="moral">moral</option>
      <option  value="physique">physique</option>
    </select>
    <div *ngIf="this.isMoral" class="mt-2">
      <label    class="form-label text-uppercase">raison social</label>
      <input type="text" formControlName="raisonSocial" name="raisonSocial" class="form-control"  placeholder="raison social">
    </div>

    <div *ngIf="!this.isMoral" class="mt-2">
      <label   class="form-label text-uppercase">nom</label>
      <input type="text" formControlName="nom"   class="form-control" placeholder="raison social">
      <label   class="form-label text-uppercase">prenom</label>
      <input type="text" formControlName="prenom"   class="form-control"  placeholder="raison social">
      <label    class="form-label text-uppercase">cin</label>
      <input type="text"  formControlName="cin"  class="form-control"  placeholder="raison social">
    </div>
    <label for="dest" class="mt-2 form-label text-uppercase">adresse</label>
    <input type="text" formControlName="adresse" class="form-control" id="dest" placeholder="adresse">

    <label for="dest" class="mt-2 form-label text-uppercase">email</label>
    <input type="email" formControlName="email" class="form-control" id="mail" placeholder="email">


    <label for="dest" class="mt-2 form-label text-uppercase">telephone</label>
    <input type="tel" formControlName="telephone" class="form-control" id="tel" placeholder="+212-">

    <div class="mt-4 ms-3 me-3 row justify-content-between">
      <hr>
      <button type="button" class="btn btn-primary col-5 " (click)="saveExpediteur()" data-bs-dismiss="modal">Save </button>
      <button type="button" class="btn btn-danger col-5" data-bs-dismiss="modal">Close</button>
    </div>
  </form>

</div>
